# Jekyll base configuration, not reloaded when modified!
locale: "en-US"
title: Alex Spaeth's Blargh
name: Alex Spaeth
logo: "/assets/images/mona.png"
email: atspaeth@ucsc.edu
description: >-
  I blog here! Mostly about software as you might have guessed from my
  hosting choices, but also about research...and I have other
  interests, I promise!
baseurl: ""
url: "https://atspaeth.github.io/"
github_username: atspaeth

# Install Jekyll plugins here.
plugins:
  - jekyll-include-cache
  - jekyll-feed

# Build settings
remote_theme: "mmistakes/minimal-mistakes@4.24.0"

# Avoid boilerplate in per-post front matter.
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      show_date: true
      comments: true
      share: true
      related: true

# Giscus provides comments through Github discussions. :D
repository: atspaeth/atspaeth.github.io
comments:
  provider: giscus
  giscus:
    repo_id: R_kgDOGRBnLA
    category: Announcements
    category_id: DIC_kwDOGRBnLM4B_jUa
    discussion_term: pathname
    reactions_enabled: 1
    theme: preferred_color_scheme

# Theme-specific configuration.
# minimal_mistakes_skin: "neon"
